ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

li {
  display: inline;
}

.p {
  color: #6778a8;
}

h1 {
  color: #6778a8
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#clubBanner {
  height: 50px;
  max-width: 100%;
}

#ZackPage {
  float: left;
  max-width: 20%;
}

#JemPage {
  float: none;
  max-width: 20%;
}

#PlaceholderPage {
  float: right;
  max-width: 20%;
}

#seperator {
  padding: 150px 55px;
}

#pagesTitle {
  font-family: Arial, Helvetica, sans-serif;
}

#slanderbanner {
  float: left;
  color:#000;
  padding-left: 5%;
}
