.p {
  color: #6778a8;
  font-family: Arial;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #6778a8
}

body {
  text-align: center;
}

#ZackPage {
  float: left;
}

#PlaceholderPage {
  float: right;
}