.dropbtn {
  background-color: inherit; 
  color: black;
  padding: 12px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  line-height: 25px;
  border-radius: 4px;
  margin: 5px;
}

.dropbtn:active, .dropbtn:hover {
  background-color: white;
  overflow: visible;
}

.dropdown {
  overflow: visible;
  float: left;
  color: black;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
  
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  overflow: visible;
}

.dropdown a:hover {
  overflow: visible;
  background-color: #cf3b3b;}

.show {
  display: flex;
  overflow: visible;
}


.header {
  overflow:hidden;
  background-color: #e0faff;
  padding: 0%;
  top:0;
  margin: 0px;
}

.header a {
  overflow: visible;
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  margin: 5px;
}

#headertitle {
  margin: 0px;
  text-align: right;
  padding-top: 10px;
  font-size: 30px;
  float: left;
}

#clubBanner {
  text-align: left;
  padding: 8px;
  float: left;
  margin: 0px;
  width: 60px;
}

.header a:hover {
  background-color: #ffffff;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  margin: 0px;
  padding-right: 20px;
}



.p {
  color: #6778a8;
  text-align: center;
}

h1 {
  color: #6778a8
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}



#ZackPage {
  float: none;
  max-width: 20%;
}

#JemPage {
  float: none;
  max-width: 20%;
}

#PlaceholderPage {
  float: right;
  max-width: 20%;
}

#CalculatorPage {
  float: left;
  max-width: 20%;
}

#seperator {
  padding: 15px 55px;
}

#pagesTitle {
  font-family: Arial, Helvetica, sans-serif;
}

#slanderbanner {
  float: left;
  color:#000;
  padding-left: 5%;
}

#infoarea {
  border: 3px black solid;
  position: absolute;
  top: 200px;
}

.show {
  display: block;
}
