.p {
  color: #6778a8;
}

h1 {
  color: #6778a8
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#clubBanner {
  height: 50px;
  max-width: 100%;
}

#ZackPage {
  float: left;
  max-width: 20%;
}

#JemPage {
  float: none;
  max-width: 20%;
}

#PlaceholderPage {
  float: right;
  max-width: 20%;
}

#seperator {
  padding: 150px 55px;
}

#pagesTitle {
  font-family: Arial, Helvetica, sans-serif;
}

#slanderbanner {
  float: left;
  color:#000;
  padding-left: 5%;
}
