@font-face {
  font-family: OdinRounded;
  src: url(/Assets/odinrounded.otf);
}
.p {
  font-family: OdinRounded;
}
#trucktext {
  float: right;
  background-color: #cfe1ff;
  border: 5px solid #b6c6e0;
  padding: 10px;
}
