@font-face {
  font-family: OdinRounded;
  src: url(/Assets/odinrounded.otf);
}
.p {
  
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #a5b9d9;
  height: 40px;
}
#truck {
  max-width: 100%;
  max-height: 100%;
}
#trucktext {
  float: left;
  background-color: #cfe1ff;
  border: 5px solid #b6c6e0;
  padding: 10px;
}
#aboutmediv {
  float: right;
  background-color: #E3EDF3;
  border: 2px solid #D4E8F4;
  padding: 5px
}
#aboutmetitle {
  font-family: OdinRounded;
}
