@font-face {
  font-family: OdinRounded;
  src: url(/Assets/odinrounded.otf);
}
.p {
  font-size: 20px;
}
.reviewoptions {
  color: #E0F2C7;
}
#trucklore {
  font-size: 20;
}
#trucklorediv {
  background-color: #8aace3;
}
#reviews {
  float: right;
  background-color: #829E90;
  border: 3px solid #70867B;
}
#truckreviews {
  float: right;
  background-color: #9ee8b9;
  border: 5px solid #90d1a8;
  display: flex;
  justify-content: space-between;
}
#customerreview {
  font-family: OdinRounded;
  font-size: 40px;
}
.sticky {
  position: sticky;
  top: 0;
}
