/* its going to be all comic sans */
#main {
    font-family: "Comic Sans MS";
    text-align: center;
}
h1 {
  color: #6778a8
}
#duck {
  float: left;
}

#placeholder {
  padding-left: 500px;
  float:left;
}
