.navs {
  float: none;
  max-width: 20%;
}

#homepage {
  float: right;
  max-width: 20%;
}

#canvas {
  border: 3px solid black;
  background-color: black;
  touch-action: none;
}

#calculatorpage {
  float: none;
  max-width: 20%;
}
