.navs {
  float: none;
  max-width: 20%;
  margin: 5px;
}

body {
  background-image: URL("../Assets/argyle other.png") repeat;
}

#homepage {
  float: right;
  max-width: 20%;
}

#canvas {
  border: 3px solid black;
  background-color: black;
  touch-action: none;
}

#calculatorpage {
  float: none;
  max-width: 20%;
}

p {
  font-family: Arial;
}
